


$font-48: 48px
$font-40: 40px
$font-38: 38px
$font-34: 34px
$font-32: 32px
$font-28: 28px
$font-24: 24px
$font-20: 20px
$font-22: 22px
$font-18: 18px
$font-16: 16px
$font-14: 14px
$font-12: 12px 

$s-4: 4px
$s-6: 6px  
$s-8: 8px 
$s-12: 12px 
$s-14: 14px 
$s-16: 16px
$s-18: 18px
$s-20: 20px 
$s-22: 22px
$s-24: 24px 
$s-26: 26px
$s-28: 28px
$s-32: 32px
$s-34: 34px
$s-38: 38px
$s-40: 40px 
$s-44: 44px
$s-48: 48px
$s-60: 60px 

